<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1541},{248,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{248,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>cancel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1663},{248,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{248,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>chuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1915},{240,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,99}}</string>
                <key>sourceSize</key>
                <string>{240,99}</string>
            </dict>
            <key>gongjulan.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,889},{463,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,171}}</string>
                <key>sourceSize</key>
                <string>{463,171}</string>
            </dict>
            <key>guoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{24,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,349}}</string>
                <key>sourceSize</key>
                <string>{24,349}</string>
            </dict>
            <key>haiou.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,141},{172,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,99}}</string>
                <key>sourceSize</key>
                <string>{172,99}</string>
            </dict>
            <key>haixing.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,487},{107,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,99}}</string>
                <key>sourceSize</key>
                <string>{107,99}</string>
            </dict>
            <key>jiushengquan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,353},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>jiushengquan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,1622},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>jiushengquan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,1488},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>jiushengquan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,1354},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1791},{248,248}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>ok_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1791},{248,248}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>shatan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,885}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,885}}</string>
                <key>sourceSize</key>
                <string>{640,885}</string>
            </dict>
            <key>shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{137,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,108}}</string>
                <key>sourceSize</key>
                <string>{137,108}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,889},{772,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{772,299}}</string>
                <key>sourceSize</key>
                <string>{772,299}</string>
            </dict>
            <key>xiadiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,889},{650,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,302}}</string>
                <key>sourceSize</key>
                <string>{650,302}</string>
            </dict>
            <key>xuanzikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,664},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>xuanzikuang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,588},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamepad.png</string>
            <key>size</key>
            <string>{780,2041}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f1acc7eedfcb365bf4757674409f105$</string>
            <key>textureFileName</key>
            <string>gamepad.png</string>
        </dict>
    </dict>
</plist>
